

<form class="" action="index.html" method="post">
  <input type="text" name="name" value="" placeholder="">
  <input type="text" name="name" value="">
  <input type="submit" name="name" value="Submit">
</form>
